/* Styles for the job postings table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}
td > a{
    text-decoration: none;
}

.view-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #0056b3;
}

/* Styles for the Edit button */
.edit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #218838;
}

.resume-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #218838;
}

/* Styles for the Delete button */
.delete-button {
    background-color: #dc3545 !important;
    color: #fff !important;
    border: none !important;
    padding: 5px 10px !important; 
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.delete-button:hover {
    background-color: #c82333 !important;
}

h2{
    text-align: center;
}