body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of viewport */
}

.container {
    width: 80%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.container h1 {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: flex;
    width: 100px; /* Adjust the width as needed */
    text-align: left;
    margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 10px); /* Adjust the width to accommodate the label */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* .radio-group input[type="radio"] {
    display: none;
} */

.radio-group label {
    display: inline-flex;
    width: 40px;
    padding: 3px;
    
    text-align: center; 
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-group button {
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px; /* Adjust margin-top as needed */
    text-align: left; /* Align the error message to the left */
}


