{% extends 'base.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/view_jobs.css')}}">
    <title>Job Details</title>
</head> -->
{% block title %}{{ job_posting[1] }}{% endblock %}

{% block content %}
    {% block css %}<link rel="stylesheet" href="{{url_for('static',filename='css/view_jobs.css')}}">{% endblock %}
    <div class="container1">
        <div class="title">{{ job_posting[1] }}</div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card job-description">
            <h2>Job Description</h2>
            <p>{{ job_posting[2] }}</p>
        </div>
        <div class="card requirements">
            <h2>Requirements</h2>
            <p>{{ job_posting[3] }}</p>
        </div>
        <div class="card salary">
            <h2>Salary(NRs.)</h2>
            <p>{{ job_posting[4] }}</p>
            <p>({{job_posting[6]}})</p>
        </div>
    </div>
    
    <a href="{{ url_for('apply_job', job_id=job_posting[0]) }}" class="apply-button">Apply</a>

{% endblock %}
